#!/usr/bin/env bash

echo "Running scan sync `date`" >> "/opt/aidoc/s3-sync-log"

aws s3 sync s3://{{origin_s3_bucket_1}} s3://{{target_s3_bucket}}/{{origin_s3_bucket_1}} >> "/opt/aidoc/s3-sync-log"
aws s3 sync s3://{{origin_s3_bucket_2}} s3://{{target_s3_bucket}}/{{origin_s3_bucket_1}} >> "/opt/aidoc/s3-sync-log"